 #calculator {
            width: 260px;
            padding: 15px;
            border: 3px solid black;
            margin: 30px auto;
            text-align: center;
            background-color:slategray;
        }
        #display {
            width: 90%;
            height: 40px;
            font-size: 22px;
            margin-bottom: 15px;
            text-align: right;
             
        }
        button {
            width: 50px;
            height: 40px;
            margin: 5px;
            font-size: 18px;
            cursor: pointer;
        }